{% extends "chartapp/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Register</h2>
    <form id="registerForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Register</button>
    </form>
    <div id="registerErrors"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#registerForm').submit(function(event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'register' %}",
                type: "POST",
                data: $(this).serialize(),
                success: function() {
                    window.location.href = "{% url 'home' %}";
                },
                error: function(xhr) {
                    var response = JSON.parse(xhr.responseText);
                    $('#registerErrors').html('<p class="error">Registration failed. ' + response.errors + '</p>');
                }
            });
        });
    });
</script>
{% endblock %}
